/*
    Copyright 2016 - Sven Seitan
    
    This file is part of Mountale.

    Mountale is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Mountale is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Mountale.  If not, see <http://www.gnu.org/licenses/>.
*/

*::selection {
    background: #333;
    color: #fff;
}
* {
    box-sizing: border-box;
}
body {
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    background: #F9F9F9;
    color: #222;
    font-family: georgia, serif;
}
#htmlPreview .thinkNbsp {
    font-size: .67em;
}
#htmlPreview mark {
    background-color: #D49AFF;
}
#htmlPreview p {
    text-indent: 1em;
    text-align: justify;
    line-height: 1.4em;
}
#htmlPreview p.poem {
    text-indent: 0;
}
#htmlPreview p.disc_alpha {
    margin-bottom: 0;
}
#htmlPreview p.disc_inter {
    margin-top: 0;
    margin-bottom: 0;
}
#htmlPreview p.disc_omega {
    margin-top: 0;
}
#htmlPreview h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
#htmlPreview a {
    color: purple;
    cursor: pointer;
}
#htmlPreview a:hover {
    color: #000;
}
#htmlPreview hr {
    height: 40px;
    background: url(hr.svg) no-repeat center !important;
    border: none !important;
}
#htmlPreview blockquote {
    border-left: 5px solid #C7CACC;
    padding: 0px 15px;
    margin-left: 15px;
    margin-right: 0;
}
#htmlPreview blockquote footer {
    margin: 0;
    background: #C7CACC;
    padding: 4px 10px 4px 10px;
    display: inline-block;
}
#htmlPreview figure {
    font-size: .85em;
    text-align: center;
    margin: 0;
}

#htmlPreview sup a {
    text-decoration: none;
}

#htmlPreview table {
    border-collapse: collapse;
}

#htmlPreview th {
    background: #CCC;
    border: 1px solid black;
    padding: 20px;
}

#htmlPreview tr:nth-child(odd) {
    background: #E4E5EA;
}

#htmlPreview td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}



/*
pre code {
    background: none;
    border: none;
}*/

img {
    max-width: 100%;
    padding: 2px;
}
img.imgLeft {
    float: left !important;
    padding: 5px 10px 5px 0 !important;
}
img.imgRight {
    float: right !important;
    padding: 5px 0 5px 10px !important;
}
img.imgWidth25 {
    width: 25%;
}
img.imgWidth33 {
    width: 33.3334%;
}
img.imgWidth50 {
    width: 50%;
}
img.imgWidth75 {
    width: 75%;
}
#nav {
    color: #000;
    font-family: monospace, sans-serif;
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
#nav2 {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#nav2 span{
    color: #333;
    text-decoration: none;
    display: block;
    padding: 2px;
}
.unactive {
    opacity: .3;
}

.bt {
    margin-bottom: 10px;
    padding: 2px 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 2px 2px #ccc;
    display: inline-block;
}
.bt:hover {
    box-shadow: 0px 0px #ccc;
}
#compose {
    font-family: monospace, sans-serif;
    outline: none;
}
#htmlPreview {
    font-size: 1.2em;
}
#htmlSource {
    font-family: monospace, sans-serif;
    font-size: .9em;
}
.options {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 50px;
}
.btDocOption {
    background: #ccc;
    color: #000;
    padding: 4px 8px;
    margin: 10px 5px 10px 0;
    display: inline-block;
    text-decoration: none;
}
.btDocOption:hover {
    background: #000;
    color: #fff;
}
#pageName {
    font-weight: normal;
    color: #666;
    font-style: italic;
    display: block;
    margin-top: 5px;
}
#sourceContent {
    font-family: monospace, sans-serif;
    font-size: .8em;
}
#topNav {
    margin-bottom: 30px;
    display: inline;
}
header {
    margin-bottom: 20px;
}
header h1{
    display: inline-block;
    font-family: monospace, sans-serif;
    font-size: 1.2em;
    color: #fff;
    background: #000;
    padding: 2px 4px 0 5px;
    box-shadow: 4px 4px 0 #ccc;
    margin-right: 10px;
}
header h1 span {
    font-size: .6em;
    font-weight: 400;
    color: #999;
}
#topNav a {
    text-decoration: none;
    color: #999;
    padding-left: 5px;
}
#topNav a:hover {
    color: purple;
}

/* ICOMOON */

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?2qs7au');
    src:    url('fonts/icomoon.eot?2qs7au#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2qs7au') format('truetype'),
        url('fonts/icomoon.woff?2qs7au') format('woff'),
        url('fonts/icomoon.svg?2qs7au#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
    content: "\e900";
}
.icon-up:before {
    content: "\e902";
}
.icon-down:before {
    content: "\e903";
}
.icon-github:before {
    content: "\e901";
}
.icon-chrome:before {
    content: "\e904";
}
.icon-firefox:before {
    content: "\e905";
}
.icon-safari:before {
    content: "\e906";
}
.icon-opera:before {
    content: "\e907";
}